<!DOCTYPE html>

<html lang="en">

    <head>
    
        <link rel="shortcut icon" href="/static/assets/ico/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="/static/styles/index.css">
        <meta charset="UTF-8">
        <title>Home</title>
    
    </head>
    
    <body>

        <h1>This is the homepage!</h1>
    
        <script type="module" src="/static/scripts/client/home.js"></script>

    </body>

</html>